/Documents/NetBeansProjects/JavaApplication2/nbproject/private/
/Documents/NetBeansProjects/JavaApplication3/nbproject/private/
/Documents/NetBeansProjects/JavaApplication3/build/
/source/repos/ConsoleApp1/ConsoleApp1.sln
